body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-bcr {
    background-color: #F1F3FF;
    color: black;
}

.navbar-text {
    color: black;
    margin-right: 10px;
}

.navbar-logo {
    width: 100px;
    height: 34px;
}

.welcome {
    background-color: #F1F3FF;
}


.welcome-title {
    font-size: 36px;
    font-style: normal;
}

.welcome-content {
    font-size: 14px;
    font-style: normal;
}

.welcome-text {
    margin-left: 100px;
}

.btn-sewa {
    width: 150px;
    height: 36px;
    font-size: 14px;
}

.img-fluid {
    max-width: 122%;
    height: auto;
}

.our-services {
    max-height: 100px;
}

.img-service {
    max-width: 100%;
    height: auto;
}

.tick {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 10px;
}

.why-us-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.why-us-title-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.why-us-title {
    margin-bottom: 20px
}

.testimonial-title {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-title-top {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Carousel */
.carousel {
	margin: 50px auto;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #9b9b9b;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #9b9b9b;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .carousel-item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .carousel-item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: "\201D";
  	font-family: Arial,sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #ff5555;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
    background: #666;
    text-shadow: none;
	top: 4px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 16px;
}
.carousel-control-prev {
	left: 350px;
	/* right: 40px; */
}
.carousel-control-next {
	left: 400px;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 17px;
    height: 17px;
	border-radius: 0;
	margin: 1px 5px;
  	box-sizing: border-box;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;
    border: 5px double;    
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #ffdc12;
}
/* Carousel End */

.container-fluid {
    margin-top: 60px;
    background-color: lightblue;
    
}

/* .container-fluid h1 {
    text-align: center;
    color: white;
    float:;
} */

.sosmed {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
